

  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>


<div class="row">
    {{#each toys}}
    <div class="col-lg-3 col-sm-6">
        <div class="card product-item my-3">
            <a href="/detail/{{_id}}">
                <img class="card-img-top" style="height: 350px; object-fit: cover;" src="{{ image }}" alt="Product Image">
            </a>
            <div class="card-body text-center">
                <div class="card-title mt-3 h5">{{name}}</div>
                <div class="card-text mb-2">Brand: {{brand.name}}</div>
                <div class="card-text text-primary h5">${{ price }}</div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
